$primary: #150080;
$accent: #d08642;
$bg: #ffffff;
$bg-accent: #e7e8e9;
$foreground: #2d264b;
$disabled: #9c9c9c;


body {
  font-family: monospace;
  background: linear-gradient(to right, #000000, #000003);
  color: $foreground;
  // display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
  height: 100vh;
}

.quiz-container {
  width: auto;
  max-width: 500px;
  height: 90vh;
  max-height: 600px;
  background:#000000;
  border-radius: 4px;
  margin: 50px auto;
  padding: 30px 20px;
  box-sizing: border-box;

  .quiz-container ul {
    padding: 0;
  }
  
  .quiz-container ul li {
    list-style: none; /* Remove default list styling */
    margin-bottom: 10px; /* Add some space between choices */
    text-align: center; /* Center align text */
    cursor: pointer;
    padding: 10px; /* Add padding to improve touchability */
    background-color: #333; /* Background color for better visibility */
    border-radius: 4px;
    width: 70%; /* Set width to 70% */
    margin: 0 auto; /* Center the li elements */
  }
  
  @media (max-width: 768px) {
    .quiz-container {
      padding: 20px; /* Adjust padding for smaller screens */
    }
  }

  .active-question-no {
    font-size: 32px;
    font-weight: 500;
    color: #30e90b;
  }
  .total-question {
    font-size: 16px;
    font-weight: 500;
    color: #E8751A;
    .spa{
      color:aliceblue;
    }
  }

  h2 {
    font-size: 20px;
    font-weight: 1000;
    margin: 0;
  }

  ul {
    margin-top: 20px;
    margin-left: -40px;

    li {
      text-decoration: none;
      list-style: none;
      color: $foreground;
      font-size: 16px;
      text-align: center;
      background: $bg;
      border: 1px solid $disabled;
      border-radius: 16px;
      padding: 11px;
      margin-top: 15px;
      cursor: pointer;
    }

    .selected-answer {
      background: #3f87a6;
      border: 1px solid #f69d31;
      color: $bg;
    }
  }
  .footter {
    display: flex;
    justify-content: flex-end;
  }
  button {
    background: linear-gradient(#102129, #477523, #49361e);
    border-radius: 9px;
    font-size: 18px;
    color: $bg;
    padding: 10px 42px;
    outline: none;
    border: none;
    margin-top: 15px;
    cursor: pointer;
    &:disabled {
      background: $bg-accent;
      color: $disabled;
      cursor: not-allowed;
    }
  }

  .result {
    text-align: center;
    h3 {
      font-size: 24px;
      letter-spacing: 1.4px;
      text-align: center;
    }
    p {
      font-size: 16px;
      font-weight: 500;

      span {
        color: $primary;
        font-size: 22px;
      }
    }
  }
}

.Home {
  height: auto;
  a {
    position: relative;
    display: flex;
    padding: 15px 30px;
    width: 250px;
    color: #2196f3;
    margin: auto;
    align-items: center;
    text-align: center;
    height: 50px;
    justify-content: center;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.25;
  }
  a:hover {
    color: #255784;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
    transition-delay:0.5s;
  }
  a span {
    position: absolute;
    display: block;
  }
  a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #2196f3);
  }
  a:hover span:nth-child(1) {
    left: 100%;
    transition: 1s;
  }

  a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: line-gradient(180deg, transparent, #2196f3);
  }

  a:hover span:nth-child(2) {
    top: 100%;
    transition: 1s;
    transition-delay: 0.15s;
  }
  a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #2196f3);
  }
  a:hover span:nth-child(3) {
    right: 100%;
    transition: 1s;
    transition-delay: 0.15s;
  }
  a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: line-gradient(360deg, transparent, #2196f3);
  }
  a:hover span:nth-child(4) {
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
  }
}
